.stepper {
  --white: #fff;
  --gray: #aaa;
  --cyon: #009cc1;
  --cyon-opacity: rgba(0, 156, 193, 0.5);
  --font-size: 40px;
  
  --stepper-gradient1: rgba(1, 126, 155, 0.2);
  --stepper-gradient2: rgba(1, 126, 155, 0.1);
  --output: var(--cyon);
  --button-normal: var(--cyon-opacity);
  --button-active: var(--cyon);
  --button-disabled: var(--gray);

  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  box-shadow: 0px 0px 10px var(--stepper-gradient1), 0px 4px 3px var(--stepper-gradient2);
  font-family: 'Spoqa Han Sans', sans-serif;
}

.stepper-vertical {
  --vertical-border-radius: 100px;

  flex-direction: column;
  padding: calc(var(--font-size) * 0.75) calc(var(--font-size) * 0.75);
  border-radius: var(--vertical-border-radius);
}

.stepper-horizontal {
  --horizontal-border-radius: 40px;
  
  padding: calc(var(--font-size) * 0.5) calc(var(--font-size) * 0.75);
  border-radius: var(--horizontal-border-radius);
}

.stepper .output {
  line-height: 1;
  font-size: var(--font-size);
  font-weight: 700;
  color: var(--output);
  cursor: default;
}

.stepper-vertical .output {
  padding: calc(var(--font-size) * 0.7) 0;
}

.stepper-horizontal .output {
  padding: 0 calc(var(--font-size) * 0.6);
}

.stepper .button {
  padding: 0;
  background: transparent;
  border: 0;
  color: var(--button-normal);
  cursor: pointer;
  transition: all 0.4s ease;
}

.stepper .button:hover,
.stepper .button:focus-visible {
  color: var(--button-active);
}

.stepper .button:active {
  transform: scale(0.98);
  transition-duration: 0.1s;
  color: var(--button-active);
}

.stepper .button:disabled {
  color: var(--button-disabled);
  cursor: not-allowed;
}

.stepper-vertical .button {
  width: 30px;
  height: 22px;
}

.stepper-vertical .button-minus {
  order: -1;
}

.stepper .button svg {
  fill: currentColor;
}

.stepper-horizontal .button svg{
  margin-top: 6px;
}

.stepper-horizontal .icon-plus {
  transform: rotate(-180deg);  
}

.stepper-vertical .icon-minus {
  transform: rotate(90deg);  
}

.stepper-vertical .icon-plus {
  transform: rotate(-90deg);  
}


